<!doctype html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Tests generator</title>
</head>
<body>
<h1>Tests generator</h1>
<div class="container">
    <div class="row">
        <div class="col-2">
            <label for="formatSelect">Format</label>
            <div class="btn-group btn-group-toggle" data-toggle="buttons" id="formatSelect">
                <label class="btn btn-primary active">
                    <input type="radio" name="format" id="jsonRadio" autocomplete="off" checked> JSON
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="format" id="yamlRadio" autocomplete="off"> YAML
                </label>
            </div>

        </div>
        <div class="col-6">
            <label for="adressInput">Target host</label>
            <input type="text" class="form-control" placeholder="http://127.0.0.1:5000/" value="http://127.0.0.1:5000"
                   id="adressInput">
        </div>
        <div class="col">
            2 2
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-warning" role="alert">
                {% for message in messages %}
                {{ message }}<br>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <div class="form-group">
                <label for="exampleFormControlTextarea1" class="pt-3">Спецификация АПИ</label>
                <textarea class="form-control" id="exampleFormControlTextarea1"
                          rows="20"> {{ filetext }} </textarea>
            </div>
            <button type="button" class="btn btn-primary btn-lg btn-block" id="sendSwaggerButton">Сгенерировать</button>
        </div>
        <div class="col">
            2 of 2
        </div>
    </div>
    Просто поле
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const jsonRadio = document.querySelector('#jsonRadio')
    const yamlRadio = document.querySelector('#yamlRadio')
    const adressInput = document.querySelector('#adressInput')
    const textAreaSwagger = document.querySelector('#exampleFormControlTextarea1');
    const sendButton = document.querySelector('#sendSwaggerButton');

    sendButton.addEventListener('click', function (e) {
        e.preventDefault();
        if (jsonRadio.checked) {
            console.log('application/json')
            axios.defaults.headers.post['Content-Type'] = 'application/json';
        } else {
            console.log('text/plain')
            axios.defaults.headers.post['Content-Type'] = 'text/plain';
        }    
        axios.post('/swagger', textAreaSwagger.value, 
            {params: {
                adress: adressInput.value
            } })
        .then(function (response) {
            console.log(response);
        });
    });







</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>